.container {
  position: relative;
  text-align: center;
  color: beige;
  margin-top: 0px;

 margin-right: 200px;
margin-bottom:0px;
  
}
  .bottom-center {
 position: absolute;
 bottom: 8px;
 right: 300px;
 font-family:corier;
 font-size: 30px;

}

.Head {
background-color: white;
display: inline-block;

}
.article
{
background-color:black;

color: beige;

}
#tfnewsearch{
    float:center;
    padding:20px;
  }
  .tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
  }
  .tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    border: solid 1px #0076a3; border-right:0px;
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(black;),to(#0078a5));
    background: -moz-linear-gradient(top, black ,  black);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }
  .tfbutton:hover {
    text-decoration: none;
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(black;), to(#00678e));
    background: -moz-linear-gradient(top,  black,  black);
  }
  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }
  .tfclear{
    clear:both;
  }




